*body {

    margin: 0;
    padding: 0;

}

.container {

    width: 800px;
    padding: 3rem 5rem;
    margin: auto;

}

.input {

    display: flex;
    justify-content: space-evenly;
}

#result {
    color: red;
}